* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    background: linear-gradient(to right top, aqua, violet);
    display: flex;
    align-items: center;
    justify-content: center;
}

.App .container {
    background: white;
    height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, violet, aqua);
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2 {
    background: white;
    width: 20%;
}

.circle1{
    top: 5%;
    right: 10%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}